/*
 * Nofifier
 *
 * @version 1.1.2
 *
 * @author Javier Sanahuja Liebana <bannss1@gmail.com>
 *
 * https://github.com/jsanahuja/Notifierjs
 *
 */

.notifyjs-container {
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0.5em;
    max-width: 304px;
    width: 100%;
}

.notifyjs-container .notifyjs-notification {
    display: none;
    position: relative;
    padding: 1em 2em 1em 2.5em;
    margin-bottom: 0.5em;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

.notifyjs-container .notifyjs-notification p.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    content: ' ';
    margin-bottom: 0;
}

.notifyjs-container .notifyjs-notification.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.notifyjs-container .notifyjs-notification.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.notifyjs-container .notifyjs-notification.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.notifyjs-container .notifyjs-notification.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.notifyjs-container .notifyjs-notification.alert-success p.progress {
    background: #155724;
}

.notifyjs-container .notifyjs-notification.alert-danger p.progress {
    background: #721c24;
}

.notifyjs-container .notifyjs-notification.alert-warning p.progress {
    background: #856404;
}

.notifyjs-container .notifyjs-notification.alert-info p.progress {
    background: #0c5460;
}

.notifyjs-container .notifyjs-notification.alert-success .notifyjs-icon svg {
    fill: #155724;
}

.notifyjs-container .notifyjs-notification.alert-danger .notifyjs-icon svg {
    fill: #721c24;
}

.notifyjs-container .notifyjs-notification.alert-warning .notifyjs-icon svg {
    fill: #856404;
}

.notifyjs-container .notifyjs-notification.alert-info .notifyjs-icon svg {
    fill: #0c5460;
}

.notifyjs-container .notifyjs-notification .notifyjs-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.notifyjs-container .notifyjs-notification .notifyjs-icon svg,
.notifyjs-container .notifyjs-notification .notifyjs-icon img {
    width: 16px;
    height: 16px;
}